<br/>

<div [ngStyle]="{'margin-top': margin}" class="ui last steps">
    <div [className]="classDecalaration">
        <div [className]="data.cssClass" *ngFor="let data of items">
            <div class="content">
                <div class="title">{{data.title}}</div>
                <div class="description">{{data.description}}</div>
            </div>
        </div>
    </div>
</div>
<br/>