@import '../../../sass/base/_color';
.content .title {
    color: $primaryColor;
}

.ui.steps .step.active .title {
    color: $primaryColor !important;
}

.ui.steps .step.completed>.icon:before,
.ui.last.steps .step.completed:before {
    font-family: 'Step';
    content: '\e800';
    color: rgb(33, 186, 69);
}

.ui.last.steps .step:before {
    display: block;
    position: static;
    text-align: center;
    -webkit-align-self: middle;
    -ms-flex-item-align: middle;
    align-self: middle;
    margin-right: 1rem;
    font-size: 2.5em;
    counter-increment: ordered;
    font-family: inherit;
    font-weight: bold;
}