@import './src/sass/base/_color';
* {
  color: $secondColor;
}

.icon img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: -25px;
}
.icon h2{
    text-align: center;
}
.icon h6{
    text-align: center;
    margin-bottom: 0px;
    margin-top: -21px;
}

.login-place {
  width: 100%;
  position: absolute;
  left: 0px;
}

form h2 {
  text-align: right;
  text-transform: uppercase;
  margin: 0px;
}

h1,
h3 {
  font-weight: 300;
  text-align: center;
}

h1,
h3 {
  color: $accentColor;
}

form {
  width: 400px;
  margin: 4em auto;
  padding: 2em 2em 2em 2em;
  background: $firstColor;
  border: 1px solid $secondColor;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: $firstColor;
  color: white;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid white;
}

input:focus {
  outline: none;
}


/* Label */

label {
  color: white;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}


/* active */

input:focus~label,
input.used~label {
  top: -20px;
  transform: scale(.75);
  left: -2px;
  /* font-size: 14px; */
  color: white;
}


/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: blue;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}


/* active */

input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}


/* Highlight */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active */

input:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
  from {
    background: $secondColor;
  }
  to {
    width: 0;
    background: transparent;
  }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid $secondColor;
  cursor: pointer;
  transition: all 0.15s ease;
}

.button:focus {
  outline: 0;
}


/* Button modifiers */

.buttonBlue {
  background: $secondColor;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
  background: $firstColor;
}

.content {
  height: 300px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
