<div class="icon">
  <img src="assets/background-header.png">
  <h2 id="sign_in_header">Personal Health Record</h2>
  <h6>@Jasamedika 2017</h6>
</div>


<div class="login-place">
  <form *ngIf="isLogin===true">
    <div class="ui icon message" style="height:68px;">
      <i class="notched circle loading icon"></i>
      <div class="content" style="height: 38px;">
        <div class="header">
          {{message}}
        </div>
        <p>Harap Tunggu
        </p>
      </div>
    </div>
  </form>
  <form>
    <div *ngIf="isLoading" class="ui icon message" style="height:68px;">
      <i class="notched circle loading icon"></i>
      <div class="content" style="height: 38px;">
        <div id="sign_id_header_message" class="header">
          {{message}}
        </div>
        <p>{{detail}}
        </p>
      </div>
    </div>

    <div class="ui one column stackable grid" *ngIf="isLogin===false">
      <div class="column">
        <div class="ui segment">

          <div class="ui one column stackable grid">
            <div class="column">
              <phr-input-text [declaration]="userNameMetaData" [(val)]="model.userName"></phr-input-text>
            </div>
          </div>
          <div class="ui one column stackable grid">
            <div class="column">
              <phr-input-text [declaration]="passwordMetaData" [(val)]="model.password"></phr-input-text>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="!isLoading || (isLoading===true && message==='Gagal Login')" class="ui menu">
      <div class="right menu">
        <div class="item">
          <button id="sign_in_login" class="ui positive button" (click)="login()">Login</button>
        </div>

        <div class="item">
          <button class="ui button active" (click)="batal()">Batal</button>
        </div>

      </div>
    </div>
  </form>
</div>
