<phr-wizard [margin]="-19" [items]="items"></phr-wizard>

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui  column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="tanggalPelayananMetaData" [(val)]="currentModel.tanggalPelayanan"></phr-input-text>
                </div>
            </div>
            <div class="ui  column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="keluhanMetaData" [(val)]="currentModel.keluhan"></phr-input-text>
                </div>
            </div>

        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <div class="ui  column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="beratBadanMetaData" [(val)]="currentModel.beratBadan"></phr-input-text>
                </div>
            </div>
            <div class="ui  column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="tinggiBadanMetaData" [(val)]="currentModel.tinggiBadan"></phr-input-text>
                </div>
            </div>
            <div class="ui  column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="suhuMetaData" [(val)]="currentModel.suhu"></phr-input-text>
                </div>
            </div>
            <div class="ui  column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="tekananDarahMetaData" [(val)]="currentModel.tekanan"></phr-input-text>
                    <br/>
                    <div class="content">
                        <div class="description">
                            <div class="ui two column stackable grid">
                                <div class="column">
                                    <div class="ui corner labeled input">
                                        <input [(ngModel)]="currentModel.sistolik" type="number" placeholder="{{tekananDarahMetaData.placeholder}}">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui corner labeled input">
                                        <input [(ngModel)]="currentModel.diastolik" type="number" placeholder="{{tekananDarahMetaData.placeholder}}">
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<div>
    <phr-loading-message [message]="message"></phr-loading-message>
</div>

<div *ngIf="message.type!=='loading'" class="ui menu">
    <div class="right menu">
        <div class="item">
            <button class="ui positive button" (click)="saveCatatanKlinis()">Simpan</button>
        </div>

    </div>
</div>