<br/>
<div class="ui one column stackable grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui column stackable grid">
                <div class="three wide column">
                    <phr-input-text [declaration]="dariTanggalMetaData" [(val)]="filter.dariTanggal"></phr-input-text>
                </div>
                <div class="three wide column">
                    <phr-input-text [declaration]="sampaiTanggalMetaData" [(val)]="filter.sampaiTanggal"></phr-input-text>
                </div>
                <div class="nine wide column">
                    <phr-input-text [declaration]="noCmMetaData" [(val)]="filter.noCm"></phr-input-text>
                </div>
                <div class="one wide column">
                    <br/>
                    <button (click)="findData()" class="ui positive icon button">
                        <i class="find icon"></i>
                    </button>
                </div>

            </div>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th style="width:15%">Tanggal registrasi</th>
                        <th style="width:12%">No Rekammedis</th>                        
                        <th style="width:30%">Nama Pasien</th>                                                
                        <th style="width:30%">Alamat</th>
                        <th style="width:13%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list  ">
                        <td>{{item.tanggalRegistrasi}}</td>
                        <td>{{item.noRekamMedis}}</td>
                        <td>{{item.namaPasien}}</td>
                        <td>{{item.alamat?.alamatRumah}}</td>                        
                        <td><phr-button-combo [(isLoading)]="item.isLoading" (changeState)="changeState(item,$event)" [(action)]="item.actions" [display]="'namaStatus'" [title]="'Menu'"></phr-button-combo></td>                        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>

                        <th colspan="7">
                            <div *ngIf="message.type!=='404' && message.content!=='Data tidak ditemukan'">
                                <div *ngIf="!isLoading" class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>

                                    <a *ngFor="let page of pages" class="item" (click)="changePage(page)" [ngClass]="{'active': page.active===true}">{{page.page}}</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </div>
                            <phr-loading-message [message]="message"></phr-loading-message>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>