.background-app {
  background-image: url(/assets/background.png) !important;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }