@import './src/sass/base/_color';
.antrian {
  width: 60px;
  position: absolute;
  float: right;
  right: 9px;
  top: 16px;
  border: 4px solid $primaryColor;
  border-radius: 102px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}
