<div class="ui piled segment">
  <h4 class="ui header">{{item.namaPegawai}}</h4>
  <p>{{item.namaRuangan }} </p>
  <p>{{item.jamMulaiJaga }} - {{item.jamAkhirJaga }}</p>

  <div class="antrian right">
    <div *ngIf="item.noLast===undefined" class="ui active centered inline loader">
    </div>
    <h2 class="ui center aligned icon header">
      {{item.noLast}}
    </h2>
  </div>
</div>
