<phr-wizard [items]="items">
</phr-wizard>
<div class="ui two column stackable grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui eight column stackable grid">
        <div class="four wide column">
          <phr-input-text [declaration]="titlePasienMetaData" [validation]="currentModel" [(val)]="currentModel.pasien.titlePasien"></phr-input-text>
        </div>
        <div class="twelve wide column">
          <phr-input-text [declaration]="namaPasienMetaData" [validation]="currentModel" [(val)]="currentModel.pasien.namaPasien"></phr-input-text>
        </div>
      </div>
      <div class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="namaPanggilanMetaData" [(val)]="currentModel.pasien.namaPanggilan"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="namaKeluargaMetaData" [(val)]="currentModel.pasien.namaKeluarga"></phr-input-text>
        </div>
      </div>
      <div class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="jenisKelaminMetaData" [(val)]="currentModel.pasien.jenisKelamin"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="agamaMetaData" [(val)]="currentModel.pasien.agama"></phr-input-text>
        </div>
        <div class="column">

        </div>
      </div>
      <div class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="tempatLahirMetaData" [(val)]="currentModel.pasien.tempatLahir"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="tanggalLahirMetaData" [(val)]="currentModel.pasien.tanggalLahir"></phr-input-text>
        </div>
      </div>

      <div class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="noBpjsMetaData" [(val)]="currentModel.pasien.noBpjs"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="noIdentitasMetaData" [(val)]="currentModel.pasien.noIdentitas"></phr-input-text>
        </div>
      </div>

      <div class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="pendidikanMetaData" [(val)]="currentModel.pasien.pendidikan"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="pekerjaanMetaData" [(val)]="currentModel.pasien.pekerjaan"></phr-input-text>
        </div>
      </div>
      <div class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="statusPernikahanMetaData" [(val)]="currentModel.pasien.statusPernikahan"></phr-input-text>
        </div>
      </div>

    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui one column stackable grid">
        <div class="column">
          <div class="row">
            <phr-input-text [declaration]="alamatMetaData" [(val)]="currentModel.alamat.alamatRumah"></phr-input-text>
          </div>
        </div>
      </div>
      <div *ngIf="addDetailAlamat" class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="propinsiMetaData" [(val)]="currentModel.alamat.propinsi" (selected)="propinsiSelected($event)"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="kotaMetaData" [(val)]="currentModel.alamat.kota" (selected)="kotaSelected($event)"></phr-input-text>
        </div>
      </div>
      <div *ngIf="addDetailAlamat" class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="kecamatanMetaData" [(val)]="currentModel.alamat.kecamatan" (selected)="kecamatanSelected($event)"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="kelurahanMetaData" [(val)]="currentModel.alamat.kelurahan" (selected)="kelurahanSelected($event)"></phr-input-text>
        </div>
      </div>
      <div *ngIf="addDetailAlamat" class="ui two column stackable grid">

        <div class="column">
          <phr-input-text [declaration]="kodePosMetaData" [(val)]="currentModel.alamat.kodePos"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="rtRwMetaData" [(val)]="currentModel.alamat.rtRw"></phr-input-text>
        </div>
      </div>
      <div *ngIf="!addDetailAlamat" class="ui three column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="kelurahanMetaData" [(val)]="currentModel.alamat.kelurahan" (selected)="kelurahanSelected($event)"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="rtRwMetaData" [(val)]="currentModel.alamat.rtRw"></phr-input-text>
        </div>
        <div class="column">
            <br/>
          <button class="ui positive button" (click)="toogleDetailAlamat()">Munculkan Detail</button>
        </div>
      </div>

    </div>
  </div>
</div>
<br/>
<div>
  <phr-loading-message [message]="message"></phr-loading-message>
</div>

<div *ngIf="message.type!=='loading'" class="ui menu">
  <div class="right menu">
    <div *ngIf="!isSuccess" class="item">
      <button class="ui positive button" (click)="savePasien()">Simpan</button>
    </div>
    <div *ngIf="isSuccess" class="item">
      <button class="ui positive button" (click)="nextToRegistrasiPelayanan()">Registrasi Pelayanan</button>
    </div>
    <div *ngIf="!isSuccess" class="item">
      <button class="ui button active">Batal</button>
    </div>

  </div>
</div>
