<br/>
<div class="ui one column stackable grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui column stackable grid">
                <div class="three wide column">
                    <phr-input-text [declaration]="dariTanggalMetaData" [(val)]="filter.dariTanggal"></phr-input-text>
                </div>
                <div class="three wide column">
                    <phr-input-text [declaration]="sampaiTanggalMetaData" [(val)]="filter.sampaiTanggal"></phr-input-text>
                </div>
                <div class="nine wide column">
                    <phr-input-text [declaration]="noCmMetaData" [(val)]="filter.noCm"></phr-input-text>
                </div>
                <div class="one wide column">
                    <button (click)="findData()" class="ui positive icon button">
                        <i class="find icon"></i>
                    </button>
                </div>

            </div>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th style="width:10%">Tanggal pelayanan</th>
                        <th style="width:10%">No Registrasi</th>
                        <th style="width:10%">No. Antrian</th>

                        <th style="width:30%">Identitas Pasien</th>
                        <th style="width:15%">Ruangan Tujuan</th>
                        <th style="width:15%">Dokter</th>
                        <th style="width:10%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list  ">
                        <td>
                            <div [ngClass]="{'green': item.statusPendaftaran.namaStatus==='Proses','yellow': item.statusPendaftaran.namaStatus==='Antrian'}" class=" ui ribbon label">{{item.tanggalRegistrasi|date:'dd-MM-yyyy HH:ss'}}</div>
                        </td>
                        <td>{{item.noRegistrasi}}</td>
                        <td>{{item.noAntrian}}</td>
                        <td (click)="detailPasien(item)">
                            <h4 class="ui image header">
                                <img src="assets/background-header.png" class="ui mini rounded image">
                                <div class="content">
                                    {{item.pasien.namaPasien}}
                                    <div class="sub header">{{item.pasien.noRekamMedis}}
                                    </div>
                                </div>
                            </h4>
                        </td>
                        <td>{{item.ruangan.namaRuangan}}</td>
                        <td>{{item.dokter.namaPegawai}}</td>
                        <td>
                            <phr-button-combo [(isLoading)]="item.isLoading" (changeState)="changeState(item,$event)" [(action)]="item.actions" [display]="'namaStatus'" [(title)]="item.statusPendaftaran.namaStatus"></phr-button-combo>
                            <!--<span *ngIf="item.statusPendaftaran.namaStatus!=='Antrian'">{{item.statusPendaftaran.namaStatus}}</span>-->
                            <!--<button *ngIf="item.statusPendaftaran.id===0" class="green ui button">Panggil</button>
                            <button *ngIf="item.statusPendaftaran.id===1" class="green ui button">Dilayani</button>-->
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>

                        <th colspan="7">
                            <div *ngIf="message.type!=='404' && message.content!=='Data tidak ditemukan'">
                                <div *ngIf="!isLoading" class="ui right labeled input" style="width: inherit;">
                                    <div class="ui dropdown label">
                                        <div class="text">{{this.filter.take}}</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" *ngFor="let page of pageList" (click)="changeTake(page)">{{page}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!isLoading" class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>

                                    <a *ngFor="let page of pages" class="item" (click)="changePage(page)" [ngClass]="{'active': page.active===true}">{{page.page}}</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </div>
                            <phr-loading-message [message]="message"></phr-loading-message>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>