<table class="ui celled table">
    <thead>
        <tr>
            <th style="width:15%">Tanggal pelayanan</th>
            <th style="width:12%">No Registrasi</th>
            <th style="width:15%">Diagnosa</th>
            <th style="width:58%">Keterangan</th>
        </tr>
    </thead>
    <tr *ngFor="let item of list  ">
        <td>{{item.tanggalPelayanan}}</td>
        <td>{{item.registrasiPasien.noRegistrasi}}</td>
        <td>[{{item.kodeDiagnosa}}] {{item.namaDiagnosa}}</td>
        <td>{{item.keterangan}}</td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="7">
                <div *ngIf="message.type!=='404' && message.content!=='Data tidak ditemukan'">
                    <div *ngIf="!isLoading" class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>

                        <a *ngFor="let page of pages" class="item" (click)="changePage(page)" [ngClass]="{'active': page.active===true}">{{page.page}}</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </div>
                <phr-loading-message [message]="message"></phr-loading-message>
            </th>
        </tr>
    </tfoot>
</table>