@import './src/sass/base/_color';
.date {
    font-size: 7pt;
    color: black;
    float: right;
    font-weight: bold;
}

.pelayanan {
    cursor: pointer;
}

.active {
    background-color: $accentColor !important;
}

.menu.list {
    width: 100% !important;
    border: none;
    box-shadow: none;
}

.selected {
    background-color: $primaryColor;
}

td {
    cursor: pointer;
}

.button {
    float: right;
    margin-top: -2px;
}