<div class="ui three column stackable grid">
    <div class="six wide column">
        <div class="ui segment">
            <h1 class="ui dividing header">Daftar Pelayanan ECG
                <button *ngIf="!isLoading" class="ui positive button" (click)="addPelayanan()"><i  class="add icon"></i></button>
            </h1>
            <phr-loading-message [message]="messagePelayanan"></phr-loading-message>
            <div class="ui vertical menu list" *ngIf="!isAdd">
                <div class="ui segment pelayanan" [ngClass]="{'selected':selectedPelayanan===item}" (click)="changePelayanan(item)" *ngFor="let item of listPelayanan  ">
                    <a class="item" [ngClass]="{'active':selectedPelayanan===item}">
                        <div *ngIf="selectedPelayanan===item" class=" ui green label"><i class="check icon"></i></div>
                        <h1 class="ui  dividing small header">&nbsp;{{item.registrasiPasien.noRegistrasi}}</h1>
                        <p><b>Diagnosa</b> : {{item.diagnosa}}</p>
                        <p class="date">{{item.tanggalPelayanan}}</p>
                    </a>
                </div>
            </div>
            <div class="ui vertical menu list" *ngIf="isAdd">
                <div class="ui segment pelayanan selected">
                    <a class="item active">
                        <div class="ui one column stackable grid">
                            <div class="column">
                                <phr-input-text [declaration]="tanggalPelayanan" [(val)]="selectedPelayanan.tanggalPelayanan"></phr-input-text>
                            </div>
                        </div>
                        <div class="ui one column stackable grid">
                            <div class="column">
                                <phr-input-text [declaration]="diagnosaMetaData" [(val)]="selectedPelayanan.diagnosa"></phr-input-text>

                            </div>
                        </div>
                        <div class="ui one column stackable grid">
                            <div class="column">
                                <phr-input-text class="instruksi" [declaration]="instruksiMetadata" [(val)]="selectedPelayanan.instruksi"></phr-input-text>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui segment">
            <h1 class="ui dividing header">Daftar ECG
                <button *ngIf="!isLoading" class="ui positive button" (click)="saveData()">Simpan</button>
            </h1>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th style="width:30%">Tanggal pengiriman</th>
                        <th style="width:30%">No Ponsel</th>
                        <th style="width:30%">Email</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="selectedBuffer(item)" *ngFor="let item of list">
                        <td>{{item.tanggalPengiriman}}</td>
                        <td>{{item.noPonsel}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <i *ngIf="item.isSelected && !item.isHide" class="check icon"></i>
                            <i *ngIf="!item.isSelected && !item.isHide" class="square icon"></i>
                            <span *ngIf="item.isHide">Prosess</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="7">
                            <phr-loading-message [message]="message"></phr-loading-message>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>