<div class="content">
    <div *ngIf="!declaration?.hideTitle" class="meta">
        <label class="group">{{declaration?.title}}</label>
    </div>
    <div class="description">
        <div *ngIf="declaration?.type=='textarea'" class="ui form">
            <textarea id={{declaration?.id}} [(ngModel)]="val" [ngClass]="{required: declaration?.required==true && val===undefined}" (ngModelChange)="val=$event" type="text" placeholder="{{declaration?.placeholder}}">
            </textarea>
        </div>
        <div *ngIf="declaration?.type=='number'" class="ui corner labeled icon input">
            <input id={{declaration?.id}} [(ngModel)]="val" [ngClass]="{required: declaration?.required==true && val===undefined}" (keypress)="val=$event.target.value" type="number" placeholder="{{declaration?.placeholder}}">
        </div>
        <div *ngIf="declaration?.type=='password'" class="ui corner labeled icon input">
            <input id={{declaration?.id}} [(ngModel)]="val" [ngClass]="{required: declaration?.required==true && val===undefined}" (keypress)="val=$event.target.value" type="password" placeholder="{{declaration?.placeholder}}">
        </div>
        <div *ngIf="declaration?.type=='string'" class="ui corner labeled input">
            <input id={{declaration?.id}} [(ngModel)]="val" #stringElem [ngClass]="{required: declaration?.required==true && val===undefined}" (ngModelChange)="val=$event" type="text" placeholder="{{declaration?.placeholder}}">
        </div>
        <div *ngIf="declaration?.type=='datetime'" #dateElem class="ui calendar">
            <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input id={{declaration?.id}} maxlength="10" minlength="8" type="text" [ngClass]="{required: declaration?.required==true  && val===undefined}" placeholder="{{declaration?.placeholder}}" [(ngModel)]="textValue">
            </div>
        </div>
        <div *ngIf="declaration?.type=='select'" #selectElem class="ui fluid category search">
            <div class="ui icon input">
                <input class="prompt" [ngClass]="{required: declaration?.required==true  && val===undefined}" type="text" placeholder="{{declaration?.placeholder}}">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>

</div>