<phr-wizard [margin]="-19" [items]="items"></phr-wizard>

<div class="ui two column stackable grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui  column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="tanggalPelayananMetaData" [(val)]="currentModel.tanggalPelayanan"></phr-input-text>
        </div>
      </div>
      <div class="ui  column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="jenisRacikanMetaData" [(val)]="currentModelDetail.jenisRacikan"></phr-input-text>
        </div>
      </div>
      <div class="ui  column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="obatMetaData" [(val)]="currentModelDetail.obat"></phr-input-text>
        </div>
      </div>
      <div class="ui  column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="signaMetaData" [(val)]="currentModelDetail.signa"></phr-input-text>
        </div>
      </div>
      <div class="ui  column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="jumlahMetaData" [(val)]="currentModelDetail.jumlah"></phr-input-text>
        </div>
      </div>
      <div class="ui  column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="keteranganMetaData" [(val)]="currentModelDetail.keterangan"></phr-input-text>
        </div>
      </div>
      <div *ngIf="message.type!=='loading'" class="ui menu">
        <div class="right menu">
          <div class="item" *ngIf="!isEdit">
            <button class="ui positive button" (click)="add()">Tambah</button>
          </div>
          <div class="item" *ngIf="isEdit">
            <button class="ui positive button" (click)="edit()">Ubah</button>
          </div>
          <div class="item">
            <button class="ui button" (click)="cancle()">Batal</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h2>List Obat</h2>
    <div *ngIf="isLoading" class="ui active loader"></div>
    <div *ngFor="let item of currentModel.details">
      <div class="ui piled segment">
        <h4 class="ui header">{{item.obat.namaObat}}<b> ({{item.jumlah}})</b></h4>
        <p>{{item.signa.namaSigna }} - {{item.jenisRacikan.namaJenisRacikan }}</p>
        <div style="float:right;margin-top: -25px;">
          <button class="ui positive button" (click)="selected(item)">Rubah</button>
          <button class="ui red button" (click)="delete(item)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<div>
  <phr-loading-message [message]="message"></phr-loading-message>
</div>

<div *ngIf="message.type!=='loading'" class="ui menu">
  <div class="right menu">
    <div class="item">
      <button class="ui positive button" (click)="saveObat()">Simpan</button>
    </div>

  </div>
</div>
