<div class="container">
  <div class="flex-item">
    <div class="ui vertical menu">
      <div class="item active">
        <i class="user icon red"></i>
        <div class="content">
          <a class="header">{{registrasiModel.pasien.namaPasien}}&nbsp;</a>
          <div class="description">
            <p>{{registrasiModel.pasien.noRekamMedis}}&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="item">Diagnosa
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="red item" (click)="showDiagnosa()">
                        Input<i class="sticky note icon"></i></a>
          <a class=" item" (click)="daftarDiagnosa()">Daftar<i class="grid layout icon"></i></a>
        </div>
      </div>
      <div class="item">Catatan Klinis
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class=" item" (click)="showCatatanKlinis()">Input <i class="sticky note icon"></i></a>
          <a class=" item" (click)="daftarCatatanKlinis()">Daftar<i class="grid layout icon"></i></a>
        </div>
      </div>
      <div class="item">ECG
        <i class="dropdown icon"></i>
        <div class="menu">
          <a (click)="daftarEcg()" class=" item">Daftar<i class="grid layout icon"></i></a>
          <a *ngIf="isTesting" (click)="sendEcg()" class=" item">Send Ecg<i class="sticky note icon"></i></a>
          <a *ngIf="countNewEcg>0" (click)="newEcg()" class=" item">ECG Baru
                    <span class="ui green label">{{countNewEcg}}</span></a>
        </div>
      </div>
      <div class="item">Lampiran
        <i class="dropdown icon"></i>
        <div class="menu">
          <a (click)="showLampiran()" class=" item">Input </a>
          <a (click)="daftarLampiran()" class=" item">Daftar<i class="grid layout icon"></i></a>
        </div>
      </div>
      <div class="item">Obat
        <i class="dropdown icon"></i>
        <div class="menu">
          <a (click)="showObat()" class=" item">Input </a>
          <a (click)="daftarObat()" class=" item">Daftar<i class="grid layout icon"></i></a>

        </div>
      </div>
      <div class="item">
        <a (click)="backToDaftar()" class=" item">Daftar Pasien</a>
      </div>
    </div>
  </div>
  <div class="flex-item" style="width:100%;padding-left:10px;">
    <router-outlet></router-outlet>

  </div>
</div>
