<div class="ui buttons">
    <button class="green ui button" [ngClass]="{'loading':_isLoading}">{{titleLocal}}</button>
    <div #dropdownElem class="green ui floating dropdown icon button">
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" (click)="raiseState(item)" *ngFor="let item of list">{{item[display]}}</div>
        </div>
    </div>
</div>