<br/>
<div class="ui one column stackable grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui column stackable grid">
        <div class="three wide column">
          <phr-input-text [declaration]="dariTanggalMetaData" [(val)]="filter.dariTanggal"></phr-input-text>
        </div>
        <div class="three wide column">
          <phr-input-text [declaration]="sampaiTanggalMetaData" [(val)]="filter.sampaiTanggal"></phr-input-text>
        </div>
        <div class="nine wide column">
          <phr-input-text [declaration]="jenisLampiranMetaData" [(val)]="filter.jenisLampiran"></phr-input-text>
        </div>
        <div class="one wide column">
          <br/>
          <button (click)="findData()" class="ui positive icon button">
                        <i class="find icon"></i>
                    </button>
        </div>

      </div>

      <table class="ui celled table">
        <thead>
          <tr>
            <th style="width:20%">Tanggal Upload</th>
            <th style="width:30%">Jenis Lampiran</th>
            <th style="width:35%">Nama Lampiran</th>
            <th style="width:15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list  ">

            <td>{{item.tanggalUpload}}</td>
            <td>{{item.jenisLampiran?.namaJenisLampiran}}</td>
            <td>{{item.fileName}}</td>
            <td><a style="cursor:hand" target="_blank" href="{{item.link}}">View Detail</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>

            <th colspan="7">
              <div *ngIf="message.type!=='404' && message.content!=='Data tidak ditemukan'">
                <div *ngIf="!isLoading" class="ui right floated pagination menu">
                  <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>

                  <a *ngFor="let page of pages" class="item" (click)="changePage(page)" [ngClass]="{'active': page.active===true}">{{page.page}}</a>
                  <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                </div>
              </div>
              <phr-loading-message [message]="message"></phr-loading-message>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
