<phr-loading-message [message]="message"></phr-loading-message>
<div class="ui one column stackable grid">
  <div class="column">
    <div class="ui red stacked  segment" *ngFor="let item of detailEcg.signals">
      <div *ngIf="item.isLoading" class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
      </div>

      <div class="ui secondary menu">
        <div class="item">
          <phr-input-text [declaration]="namaSignalMetaData" [(val)]="item.signal"></phr-input-text>
        </div>
        <div class="right menu">
          <a class="item" (click)="print($event)"><i  class="print icon"></i></a>
          <a class="item" (click)="save(item)"><i  class="edit icon"></i></a>
        </div>
      </div>

      <phr-chart-ecg [data]="item"></phr-chart-ecg>
      <div *ngIf="item.message!==undefined" class="ui positive message">
        <i class="close icon"></i>
        <div class="header">
          {{item.message.title}}
        </div>
        <p>{{item.message.content}}</p>
      </div>
    </div>
  </div>
</div>
