<div class="column">
  <div class="ui segment">
    <div class="ui one column stackable grid">
      <div class="column">
        <phr-input-text [declaration]="jenisLampiranMetaData" [validation]="currentModel" [(val)]="currentModel.jenisLampiran"></phr-input-text>
      </div>
      <div class="column">
        <div id="dropzone">
          <form action="{{url}}" class="dropzone needsclick dz-clickable" id="demo-upload">

            <div class="dz-message needsclick">
              Jatuhkan berkas atau tekan untuk menyimpan berkas<br>
              <span class="note needsclick"></span>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <phr-loading-message [message]="message"></phr-loading-message>
</div>

<div *ngIf="message.type!=='loading'" class="ui menu">
  <div class="right menu">
    <div class="item">
      <button class="ui positive button" (click)="saveLampiran()">Simpan</button>
    </div>

    <div *ngIf="!isSuccess" class="item">
      <button class="ui button active">Batal</button>
    </div>

  </div>
</div>
