<div class="ui modal">
    <div class="header">Konfirmasi</div>
    <div class="content">
        <p>Apakah anda yakin akan menghapus {{currentModel?.namaRuangan}} ?</p>
    </div>
    <div class="actions">
        <div class="ui approve button red">Ya</div>
        <div class="ui cancel button">Tidak</div>
    </div>
</div>
<div class="ui three column stackable grid">
    <div class="column four wide">
        <div class="ui segment">
            <div class="ui one column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="namaRuanganMetaData" [(val)]="currentModel.namaRuangan"></phr-input-text>
                </div>
            </div>
            <div class="ui one column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="departemenMetaData" [(val)]="currentModel.departemen"></phr-input-text>

                </div>
            </div>

            <div class="ui ">
                <br/>
                <div class="right menu">
                    <button class="ui positive button" (click)="saveData()">Simpan</button>
                    <button class="ui  button" (click)="cancle()">Batal</button>
                </div>
            </div>
        </div>
    </div>
    <div class="column twelve wide">
        <div class="ui segment">
            <div class="ui column stackable grid">
                <div class="fifteen wide column">
                    <phr-input-text [declaration]="namaRuanganMetaData" [(val)]="search.keyword"></phr-input-text>
                </div>
                <div class="one wide column">
                    <br/>
                    <button (click)="findData()" class="ui positive icon button">
                        <i class="find icon"></i>
                    </button>
                </div>
            </div>

            <table class="ui celled table">
                <thead>
                    <tr>
                        <th style="width:40%">{{namaRuanganMetaData.title}}</th>
                        <th style="width:40%">{{departemenMetaData.title}}</th>

                        <th style="width:20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list  ">
                        <td>{{item.namaRuangan}}</td>
                        <td>{{item.departemen?.namaDepartemen}}</td>
                        <td>
                            <i (click)="showDetail(item)" class="edit icon" title="Edit"></i>
                            <i (click)="delete(item)" class="delete icon" title="Delete"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>

                        <th colspan="7">
                            <div *ngIf="message.type!=='404' && message.content!=='Data tidak ditemukan'">
                                <div *ngIf="!isLoading" class="ui right floated pagination menu">
                                    <a class="icon item">
                                        <i class="left chevron icon"></i>
                                    </a>

                                    <a *ngFor="let page of pages" class="item" (click)="changePage(page)" [ngClass]="{'active': page.active===true}">{{page.page}}</a>
                                    <a class="icon item">
                                        <i class="right chevron icon"></i>
                                    </a>
                                </div>
                            </div>
                            <phr-loading-message [message]="message"></phr-loading-message>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>