<phr-wizard [margin]="-19" [items]="items"></phr-wizard>

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui two column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="tanggalPelayanan" [(val)]="currentModel.tanggalPelayanan" (selected)="changeDokter()"></phr-input-text>
                </div>
            </div>
            <div class="ui one column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="dokterMetaData" [(val)]="currentModel.dokter"></phr-input-text>
                </div>
            </div>
            <div class="ui one column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="diagnosaMetaData" [(val)]="currentModel.diagnosa"></phr-input-text>
                </div>
            </div>


        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <div class="ui one column stackable grid">
                <div class="column">
                    <phr-input-text [declaration]="keteranganMetadata" [(val)]="currentModel.keterangan"></phr-input-text>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div>
    <phr-loading-message [message]="message"></phr-loading-message>
</div>

<div *ngIf="message.type!=='loading'" class="ui menu">
    <div class="right menu">
        <div class="item">
            <button class="ui positive button" (click)="saveDiagnosa()">Simpan</button>
        </div>

    </div>
</div>