<phr-wizard [items]="items"></phr-wizard>
<div class="ui two column stackable grid">
  <div class="column">
    <div class="ui segment">
      <div class="ui two column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="pasienMetaData" [(val)]="currentModel.pasien"></phr-input-text>
        </div>
        <div class="column">
          <phr-input-text [declaration]="tanggalRegistrasi" [(val)]="currentModel.tanggalRegistrasi" (selected)="changeDokter()"></phr-input-text>
        </div>

      </div>
      <div class="ui one column stackable grid">
        <div class="column">
          <phr-input-text [declaration]="ruanganMetaData" [(val)]="currentModel.ruangan" (selected)="changeDokter()"></phr-input-text>
        </div>
      </div>
      <div class="ui one column stackable grid" *ngIf="isShowDokter">
        <div class="column">
          <phr-input-text [declaration]="dokterMetaData" [(val)]="currentModel.dokter" (selected)="checkReservation()"></phr-input-text>
        </div>
      </div>

    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <div *ngIf="state==='dokter'">
        <h2>Jadwal Dokter</h2>
        <div *ngIf="isLoading" class="ui active loader"></div>
        <div *ngFor="let item of listDokter">
          <phr-jadwal-dokter [item]="item" [(tanggalRegistrasi)]="currentModel.tanggalRegistrasi"></phr-jadwal-dokter>
        </div>
      </div>

    </div>
  </div>
</div>
<br/>
<div>
  <phr-loading-message [message]="message"></phr-loading-message>
</div>

<div *ngIf="message.type!=='loading'" class="ui menu">
  <div class="right menu">
    <div class="item">
      <button class="ui positive button" (click)="savePasien()">Simpan</button>
    </div>

    <div *ngIf="!isSuccess" class="item">
      <button class="ui button active">Batal</button>
    </div>

  </div>
</div>
