<div class="ui top fixed menu">
    <div id="menu" class="item">
        <i class="content icon"></i>
    </div>
    <div class="item">
        <img src="assets/background-header.png">
        <b>Personal Health Record</b>
    </div>
    <div class="right menu">
        <a class="item">Logout</a>

    </div>
</div>
<div class="ui sidebar inverted vertical menu">
    <div class="item">
        <img src="assets/background-header.png">
        <b>Personal Health Record</b>
    </div>
    <div class="item">
        Sys Admin
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" [routerLink]="['/sysadmin/user']"> <i class="edit icon"></i>User</a>
            <a class="item" [routerLink]="['/sysadmin/jenis-kelamin']"> <i class="edit icon"></i>Jenis Kelamin</a>
            <a class="item" [routerLink]="['/sysadmin/agama']"> <i class="edit icon"></i>Agama</a>
            <a class="item" [routerLink]="['/sysadmin/kota']"> <i class="edit icon"></i>Kota</a>
            <a class="item" [routerLink]="['/sysadmin/kecamatan']"> <i class="edit icon"></i>Kecamatan</a>
            <a class="item" [routerLink]="['/sysadmin/kelurahan']"> <i class="edit icon"></i>Kelurahan</a>
            <a class="item" [routerLink]="['/sysadmin/jenis-pelayanan']"> <i class="edit icon"></i>Jenis Pelayanan</a>
            <a class="item" [routerLink]="['/sysadmin/departemen']"> <i class="edit icon"></i>Departemen</a>
            <a class="item" [routerLink]="['/sysadmin/ruangan']"> <i class="edit icon"></i>Ruangan</a>
            <a class="item" [routerLink]="['/sysadmin/diagnosa']"> <i class="edit icon"></i>Diagnosa</a>
            <a class="item" [routerLink]="['/sysadmin/dokter']"> <i class="edit icon"></i>Dokter</a>
            <a class="item" [routerLink]="['/sysadmin/jadwal-dokter']"> <i class="edit icon"></i>Jadwal Dokter</a>
        </div>
    </div>
    <div class="item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" [routerLink]="['/home']">Transaction</a>
        </div>
    </div>

</div>
<div class="content">
    <router-outlet></router-outlet>
</div>