<div class="ui top fixed menu">
    <div id="menu" class="item">
        <i class="content icon"></i>
    </div>
    <div class="item">
        <img src="assets/background-header.png">
        <b>Personal Health Record</b>
    </div>
    <div class="right menu">
        <a class="item" (click)="logout()">Logout({{user.fullName}})</a>

    </div>
</div>
<div class="ui sidebar inverted vertical menu">
    <div class="item">
        <img src="assets/background-header.png">
        <b>Personal Health Record</b>
    </div>
    <div class="item">
        Pasien
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" [routerLink]="['/home/registrasi-pasien']">Registrasi Pasien</a>
            <a class="item" [routerLink]="['/home/registrasi-pelayanan']">Registrasi Pelayanan Pasien</a>

        </div>
    </div>
    <div class="item">
        Daftar
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" [routerLink]="['/home/daftar/pasien']">Daftar Pasien</a>
            <a class="item" [routerLink]="['/home/daftar/registrasi-pelayanan']">Daftar Pelayanan Pasien</a>

        </div>
    </div>
    <div class="item">
        More
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" (click)="openSysadmin()">Sys Admin</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
        </div>
    </div>

</div>
<div class="content ">
    <router-outlet></router-outlet>
</div>