@import './src/sass/base/_color';
.item img {
    width: 3.5em !important;
}

.red {
    background-color: $primaryColor !important;
}

.ui.top.fixed.menu {
    background-color: $primaryColor !important;
}

.ui.menu .item {
    color: $accentColor !important;
    cursor: pointer;
}

.content {
    margin-top: 70px;
}