<div *ngIf="message.type!==undefined && message.type==='loading'" class="ui icon message">
    <i class="notched circle loading icon"></i>
    <div class="content">
        <div class="header">
            {{message.title}}
        </div>
        <p>{{message.content}}
        </p>
    </div>
</div>

<div *ngIf="message.type!==undefined &&message.type!=='200' && message.type!=='loading'" class="ui error message">{{message.content}}</div>
<div *ngIf="message.type!==undefined && message.type==='200'" class=" ui positive message ">{{message.content}}</div>